table, tr {
    margin: auto;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}
#cottrai {
    width: 640px;
    padding: 20px;
    
}
#cotphai {
    width: 260px;
    vertical-align: top;
    padding: 20px;
}
#success {
    width: 640px;
    border: 1px solid #bfe6b9;
    color: #1d6b17;
    background-color: #e4ffe0;
    padding: 5px 10px;
    font-weight: bold;
    float: left;
    margin-bottom: 20px;
}
#failure {
    width: 640px;
    border: 1px solid #d6a6b4;
    color: #96433b;
    background-color: #ffe3e7;
    padding: 5px 10px;
    font-weight: bold;
    float: left;
    margin-bottom: 20px;
}
.close {
    float: right;
}
.label {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}
p {
    margin: 5px 0px;
}
#small  {
    padding: 5px; 
    background-color: #f7f2f6; 
    border: 1px solid #ccc;
}
#large {
    padding: 5px;
    background-color:#f7f2f6 ;
    border: 1px solid #ccc;
    width: 60%;
}
#select {
    padding: 5px;
    background-color: #f7f2f6 ;
    border: 1px solid #ccc;
    width: 25%;
}
#submit {
    width:100px;height:40px; background-color: black; color: white; 
    padding: 10px 5px;
}
#minitable  {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}
#dong1 {
    background-color: #deebfe;
}
#dong3 {
    background-color: #f0ebef;
}
#minitable td {
    padding: 7px 10px;
}